ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    background-image: linear-gradient(bottom, #C60000 50%, blue 50%);
    background-image: -o-linear-gradient(bottom, #C60000 50%, blue 50%);
    background-image: -moz-linear-gradient(bottom, #C60000 50%, blue 50%);
    background-image: -webkit-linear-gradient(bottom, #C60000 50%, blue 50%);
    background-image: -ms-linear-gradient(bottom, #C60000 50%, blue 50%);

}
.downNav {
    margin-top: 100px;
    background-color: blue;
}

.rightNav {
    margin-top: 4px;
    float: right;
}

.label {
    font-size: xx-large;
    margin-top: 10px;
    margin-left: 5px;
    color: yellow;
    text-align: center;
    font-weight: 900;
    font-family: sans-serif;
    text-decoration: none;
}

.logo {
    margin-top: 4px;
}

li {
    float: left;
}

li a {
    margin-top: 7px;
    display: block;
    color: yellow;
    text-align: center;
    font-weight: 600;
    font-family: sans-serif;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: wheat;
}